$borderRadius: 2px;
$box-shadow: 3px 3px 15px rgba(0,0,0,.2);
// $base-url : "/resultado/images";
$base-url : "/images";

body {
  margin: 0;
  font-family: 'Quicksand', 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@-webkit-keyframes loader {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }

  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg)
  }
}

@keyframes loader {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }

  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg)
  }
}

#root {
  > div:not(.app-login):not(.react-notification-root) {
    padding-bottom: 25px;
  }
}

.app-login {
  background: url('#{$base-url}/login-background.jpg') no-repeat center / cover;
}

.navbar {
  padding: 0 1rem;
  box-shadow:  $box-shadow;

  .navbar-brand {
    padding: 0;
    margin: 0 -15px;

    img {
      margin-right: 10px;
    }
  }

  .navbar-list {
    &.navbar-bottom-links {
      margin: 0;
    }

    li {
      padding: 0;
      width: 100%;
      display: block;
      background: #f8f9fa;
      
      a {
        color: #888;
        display: block;
        padding: 15px 10px;
        transition: all .25s ease-in-out;

        &:hover {
          color: #333;
          background: #efefef;
          text-decoration: none;
        }
      }
    }
  }

  &.navbar-vertical {
    top: 0;
    left: 0;
    z-index: 1;
    width: 250px;
    height: 100vh;
    overflow: auto;
    max-width: 90%;
    position: fixed;
    align-items: start;
    box-shadow: $box-shadow;
    align-content: space-between;
    
    .navbar-list {
      margin: 0;
      padding: 0;
      width: 100%;
      list-style: none;

      li {
        a {
          border-top: 1px solid #efefef;
        }
      
        &:last-child {
          a {
            border-bottom: 1px solid #efefef;
          }
        }
      }
    }
    
    .navbar-brand {
      margin: 15px -15px 15px;
    }
  }
}

.container {
  &.fixed-navbar {
    max-width: 100%;
    margin-top: 25px;
    padding-left: 280px;
    padding-right: 30px;
  }

  &.fixed-normal-navbar {
    margin-top: 25px;
  }
}

.modal-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: auto;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,.5);

  .brand {
    width: 200px;
    height: 67px;
    display: block;
    margin: -15px -15px 25px;
    background: url('#{$base-url}/brand.png') no-repeat center/cover;
  }

  .brand-form {
    width: 400px;
    height: 310px;
    display: inline-block;
    box-shadow: $box-shadow;
    background: url('#{$base-url}/brand.jpg');
    border-top-left-radius: $borderRadius;
    border-bottom-left-radius: $borderRadius;
  }
  form {
    width: 400px;
    padding: 50px;
    margin: 25px 0;
    background: #fff;
    position: relative;
    display: inline-block;
    box-shadow: $box-shadow;
    border-radius: $borderRadius;
  }
  .btn-admin-panel {
    right: 0;
    bottom: 0;
    font-size: 11px;
    box-shadow: none;
    position: absolute;
    &.active {
      box-shadow: inset 1px 1px 2px rgba(0,0,0,.2);
    }
  }
}

.center-items {
  align-items: center;
}

h2.font-22 {
  font-size: 35px;
}

.app-list-exams, .app-list-users {
  .exams-list, .users-list {
    margin-top: 25px;
  }
}

.btn + .btn {
  margin-left: 5px;
}

.fr-wrapper {
  border-bottom-color: transparent !important;

  p {
    margin: 0;
  }

  & + .second-toolbar {
    min-height: 10px;

    #logo {
      display: none;
    }
  }
}

.display-4 {
  small {
    opacity: .65;
    display: block;
    margin-top: 15px;
    font-weight: 300;
    margin-bottom: 35px;
    padding-bottom: 32px;
    border-bottom: 1px solid #e0e0e0;
  }
}

.btn {
  border-radius: $borderRadius;

  &.loading {
    pointer-events: none;
    opacity: .55;
  }

  &.btn-primary {
    color: #7b6a58;
    border-width: $borderRadius;
    background: #ffffff;
    border-color: #7b6a58;

    &:hover, &:active, &:focus {
      color: #7b6a58 !important;
      background: #ffffff !important;
      border-color: #7b6a58 !important;

      &:active, &:focus {
        box-shadow: 0 0 0 0.2rem rgba(123, 106, 88, .15) !important;
      }
    }
  }
}

.form-control {
  border-radius: $borderRadius;

  &:focus, &:active {
    border-color: #7b6a58 !important;
    box-shadow: 0 0 0 0.2rem rgba(123, 106, 88, .15) !important;
  }
}

.swal2-styled {
  &.swal2-confirm {
    background-color: #7b6a58 !important;
  }
}

.loader {
  width: 30px;
  height: 30px;
  font-size: 10px;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  margin: 0 auto;
  border-top: 2px solid rgba(0,0,0,0.2);
  border-right: 2px solid rgba(0,0,0,0.2);
  border-bottom: 2px solid rgba(0,0,0,0.2);
  border-left: 2px solid #000;
  -webkit-animation: loader 0.8s infinite linear;
  animation: loader 0.8s infinite linear
}
.btn.loading ~ .loader {
  margin: 0 15px;
  display: inline-block;
  vertical-align: middle;
}

.rdw-editor-wrapper {
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  padding-bottom: 20px;

  .rdw-editor-toolbar {
    border: none;
    margin: 0 auto;
    padding: 15px 0 5px;
    width: calc(100% - 30px);
    border-bottom: 1px solid #eee;

    .rdw-dropdown-wrapper, .rdw-option-wrapper {
      border: none;
    }
  }

  .rdw-editor-main {
    padding: 0 20px;
    min-height: 120px;
  }
}