$borderRadius: 3px;
$box-shadow: 3px 3px 15px rgba(0,0,0,.2);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  box-shadow:  $box-shadow;

  &.navbar-vertical {
    top: 0;
    left: 0;
    z-index: 1;
    width: 250px;
    height: 100vh;
    overflow: auto;
    max-width: 90%;
    position: fixed;
    align-items: start;
    box-shadow: $box-shadow;
    align-content: space-between;
  }

  .navbar-brand {
    margin-bottom: 25px;

    img {
      margin-right: 10px;
    }
  }

  .navbar-list {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;

    li {
      padding: 0;
      width: 100%;
      display: block;
      background: #f8f9fa;
      
      a {
        color: #888;
        display: block;
        padding: 15px 10px;
        border-top: 1px solid #efefef;
        transition: all .25s ease-in-out;

        &:hover {
          color: #333;
          background: #efefef;
          text-decoration: none;
        }
      }
      
      &:last-child {
        a {
          border-bottom: 1px solid #efefef;
        }
      }
    }
  }
}

.container {
  &.fixed-navbar {
    max-width: 100%;
    margin-top: 25px;
    padding-left: 280px;
    padding-right: 30px;
  }
}

.modal-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: auto;
  align-items: center;
  justify-content: center;
  background: #5d9eca;
  background: linear-gradient(135deg,#5d9eca,#2d4b67);

  .brand-form {
    width: 400px;
    height: 310px;
    display: inline-block;
    box-shadow: $box-shadow;
    background: url('/brand.jpg');
    border-top-left-radius: $borderRadius;
    border-bottom-left-radius: $borderRadius;
  }
  form {
    width: 400px;
    padding: 50px;
    margin: 25px 0;
    display: inline-block;
    box-shadow: $box-shadow;
    background: #fff;
    border-top-right-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
  }
}

.center-items {
  align-items: center;
}

h2.font-22 {
  font-size: 35px;
}

.app-list-exams, .app-list-users {
  .exams-list, .users-list {
    margin-top: 25px;

    .exam, .user {
      .exam-actions, .user-actions {
        button {
          margin-left: 5px;
        }
      }
    }
  }
}